.flexbox-container{
  display: flex;
  flex-direction: row;
  height: 55px;
  background: red;
}
.html, body{
  background-color: ghostwhite;
  margin: 0px;
  padding: 0px;
}
.pokedex-ball-intro{
  color: ghostwhite;
  float: left;
  height: 20px;
  width: 1920px;
  margin: 0px;
  flex: 1 0 100%;
  order:-1;
} 

.flexbox-container img {

padding-right: 400px;
padding-left: 15px;

}
.flexbox-container h2{
    
    color: ghostwhite;
    margin: 0;
    float: left;
    padding: 0px;
    font-size:45px;
}

.info {
    padding-left: 0px;
    padding-right: 120px;
}

.info p{
  margin: 12px;
  height: 35px;
  font-size: 24px;
  color: ghostwhite;
  font-weight: bold;
  padding-top: -5px;
}
.github {

    padding-left: 0px;
    padding-top: 33px;
    width: 100px;
}
.github img{

    height: 56px;
    margin-top: -34px;
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
}
  

.flexbox-container-2{
  display: flex;
  flex-direction: row;
  height: 580px;
  margin-top: 50px;
  width: 1150px
}



.stats-sprite p:nth-child(1){

 font-size: 24px;
 font-weight: bold;
}

.sprite p{
  color: rgb(0, 0, 0);
  padding-right: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -6px;
}

.weaknesses{
  display: none;
}


.advantages p{
  color: rgb(0, 0, 0);
  padding-right: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -6px;
}

.sprite{
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.sprite img{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 6px;
  margin-top: 4px;
}

.github{

  width: 85;
  padding-left: 20px;
}

.pokedex-ball-intro a{
  width: 40px;
}

.mainsearch-flexbox{
  display: flex;
  justify-content: center;
  margin-top: 206px;
}

.searchbutton input[type=text]{

  width:600px;
  outline: none;
  border: none;
  padding: 10px 10px;
  border-radius:14px;
  box-shadow: rgb(0 0 0 / 30%) 0 0 10px 2px;
  font-size: 22px;
  box-sizing: border-box;
  text-align: center;
  background: ghostwhite;

}


.searchbutton input[type=submit] {
      background-repeat: no-repeat;
      border: 0;
      height: 51px;
      width: 51px;
      background-color: rgb(240, 86, 14);
      float: right;
      background-image: url(https://cdn-icons-png.flaticon.com/512/61/61088.png);
      background-size: 46px;
      text-indent: -9999px;
      margin-left: 13px;
      margin-bottom: 58px;
      border-radius: 9px;
      background-position: center;
}

.stats-sprite table{

  margin-left: 275px;
  margin-top: 86px;
  color: black;
  
}

.table td, th{
  padding: 0.75rem;
  vertical-align: top;
}

.stats-sprite th{
  text-align: end;
  background: ghostwhite;
}


.resizeimg {
  height: 250px;
  width: 250px;
  background: white;
  border-radius: 6px;
  margin-top: 4px;
}

.mainsprite {
  height: 100px;
  width: 100px;
}

.thirdtype[src="static/images/.png"] {
  display:none;
}

.evoone {
  height: 650px; 
  width: 650px;
}

.evoone img{

  height: 124px; 
  width: 124px;
}

.evoone img{

  height: 124px; 
  width: 124px;
}
.sideevos img{

  height: 124px; 
  width: 124px;

}

.evoone img[src=""]{
display: none;
}
.sideevos img[src=""]{
  display: none;
}
  

.allstats{
  color: red;
}

.statbar{
  text-align: end;
  border-radius: 12px;
  animation: progress 750ms ease-in 1;
}

.evochain-flexbox{
  display:flex;
  justify-content: center;
}
.statbar span{
  color: white;
  font-weight: bold;
}

.evos img{
  height:120px;
  width: 120px;
}
.evos img[src=""]{
  display: none;
}

@keyframes progress{
  from {
    width: 0;
  }
}