<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/main.css">
    <meta charset="UTF-8">
    <title> Pokedex</title>
</head>
<body>
<div class="flexbox-container" style="background-color: {{secondcolour}};">
    <h2>Pokedex</h2>
    <img src="static/images/pokeballicon.png"/>
    <div class ="github">
        <a href="https://github.com/Ehrgein">
        <img src="static/images/github.png"/>
        </a>
    </div>
</div>
{% block content %}{% endblock %}
<div class="mainsearch-flexbox">
    <div class="form" onclick="display=none">
        <form action="#" method="post">
        <div class="searchbutton">
        <input type="text" name="name" defaultvalue="ditto" placeholder="Enter your desired pokemon by name or id"/>
        <input type="submit">
        </div>
        </form>
    </div>
</div>
</div>
</body>
</html>



