<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/main.css">
    <meta charset="UTF-8">
    <title> Pokedex</title>
</head>
<body>
<div class="flexbox-container">
    <div class="pokedex-ball-intro">
        <h2>Pokedex</h2>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/master-ball.png"/>
        <br>
        <br>
        <br>
        <p>Search for your favorite pokemon and get information about it!</p>
    <br>
    <br>
    <br>
    </div>
    <div class="stats">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p> {{pokename}}</p>
        <p> Type: {{poketype}}</p>
        <p> HP: {{pokehp}} </p>
        <p> Attack: {{pokeatk}} </p>
        <p> Defense: {{pokedef}}</p>
        <p>Special Attack: {{pokespecialatk}}</p>
        <p>Special Defense: {{pokespecialdef}} </p>
        <p>Speed: {{pokespd}} </p>
        <p>Does no damage to: {{pokeimmuneto}} </p>
        <p>Receives no damage from: {{pokeimmunefrom}}</p>
        <p>Super effective against: {{pokestrong}} </p>
        <p>Very weak against: {{pokeweak}}</p>
    </div>
    <div class="display">
            <img src="{{sprite}}"/>
            <form action="/" method="post">
            {{pokeform.searchresult}}
            <input type="submit", value="Get Pokemon", name="datapkmn" >
            </form>
    </div>
        </div>
    </div>
</div>
</html>
