<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/main.css">
    <meta charset="UTF-8">
    <title> Pokedex</title>
</head>
<body>
<div class="flexbox-container">
    <h2>Pokedex</h2>
    <img src="static/images/pokeballicon.png"/>
    <div class="info">
        <p>Search for your favorite pokemon and get information about it!</p>
    </div>
    <div class ="github">
        <a href="https://github.com/Ehrgein">
        <img src="static/images/github.png"/>
        </a>
    </div>
</div>
<div class="flexbox-container-2">
    <div class="stats-sprite">
        <p> {{pokename}}</p>
        <p> Type: {{poketype}}</p>
        <p> HP: {{pokehp}} </p>
        <p> Attack: {{pokeatk}} </p>
        <p> Defense: {{pokedef}}</p>
        <p>Special Attack: {{pokespecialatk}}</p>
        <p>Special Defense: {{pokespecialdef}} </p>
        <p>Speed: {{pokespd}} </p>
        <p>Does no damage to: {{pokeimmuneto}} </p>
        <p>Receives no damage from: {{pokeimmunefrom}}</p>
        <p>Super effective against: {{pokestrong}} </p>
        <p>Very weak against: {{pokeweak}}</p>
    </div>
    <div class="sprite">
        <img src="{{sprite}}"/>
        <div class="form">
        <form action="/" method="post">
        </div>
        <div class="searchbar">
                {{pokeform.searchresult}}
        </div>
        <div class="searchbutton">
        <input type="submit", value="Get Pokemon", name="datapkmn">
    </form>
        </div>
    </div>
</div>
</body>
</html>
