{% extends "base.html" %}
{% block content %}
<div class="flexbox-container-2">
    <div class="stats-sprite">
        <table style="padding: 2px; border-spacing:3px; height:288px; margin-top:-21px; margin-left: 450px;">
        <tbody>
        <div class="allstats">
            <tr>
            <th> HP:</th> 
            <td style="width:260px">
                <div class="statbar" style="background: linear-gradient(166deg, {{firstcolour}}, {{secondcolour}}); width: calc(100% * {{pokehp}}/180); min-width: 25px; max-width:250px;">
                    <div class="hpdiv"><span style="margin-right: 6px;">{{pokehp}}</span></div>
                </div>
            </td>
            </tr>
            <tr>
            <th> Attack: </th> 
            <td style="width:255px">
                <div class="statbar" style="background: linear-gradient(166deg, {{firstcolour}}, {{secondcolour}}); width: calc(100% * {{pokeatk}}/180);min-width: 25px; max-width:250px;">
                    <div class="defdiv"><span style="margin-right: 6px;">{{pokeatk}}</span></div>
                </div>
            </td>
            </tr>
            <tr>
            <th> Defense: </th> 
            <td style="width:260px">
                <div class="statbar" style="background: linear-gradient(166deg, {{firstcolour}}, {{secondcolour}});; width: calc(100% * {{pokedef}}/180);min-width: 25px; max-width:250px;">
                    <div class="defdiv"><span style="margin-right: 6px;">{{pokedef}}</span></div>
                </div>
            </td>
            </tr>
            <tr>
            <th> Special Attack:</th> 
            <td style="width:260px">
                <div class="statbar" style="background: linear-gradient(166deg, {{firstcolour}}, {{secondcolour}}); width: calc(100% * {{pokespecialatk}}/180);min-width: 25px; max-width:250px;">
                    <div class="specialatkdiv"><span style="margin-right: 6px;">{{pokespecialatk}}</span></div>
                </div>

            </td>
            </tr>
            <tr>
            <th> Special Defense: </th> 
            <td style="width:260x">
                <div class="statbar" style="background: linear-gradient(166deg, {{firstcolour}}, {{secondcolour}}); width: calc(100% * {{pokespecialdef}}/180);min-width: 25px; max-width:250px;">
                    <div class="defdiv"><span style="margin-right: 6px;">{{pokespecialdef}}</span></div>
                </div>
            </td>
            </tr>
            <tr>
            <th> Speed: </th> 
            <td style="width:260px">
                <div class="statbar" style="background: linear-gradient(166deg, {{firstcolour}}, {{secondcolour}}); width: calc(100% * {{pokespd}}/180);min-width: 25px; max-width:250px;">
                    <div class="defdiv"><span style="margin-right: 6px;">{{pokespd}}</span></div>
                </div>
            </td>
            </tr>

            
    </div>
    </tbody>
    </table>
</div>
<div class="sprite" style="padding:6px;">
    <table class="innerborder" style="background:{{innerborder}}; padding: 5px; border-radius: 12px; vertical-align: top; margin-left:-45px; margin-top:1px;">
        <tbody style="vertical-align: top;">
            <th style="background:#ffff; border-radius: 12px; width:75%; height: 1%;">
                <big>
                    <b>{{newname}}</b>
                </big>
            </th>
            <th style="background:#ffff; border-radius: 12px; width: 25%; height: 1%">
                <big>
                <b> # {{newspeciesid}}</b>
                </big>
            </th>
            <tr style="height:1%; width: 100%;">
                <td  colspan="2" style="height:1%;">
                <div>
                <img src="{{sprite}}" style="background-image: url('static/images/{{poketype}}.png'); background-repeat: no-repeat; background-position-x: right; background-position-y: bottom; background-size: 50px;">
                </td>
                </div>
            </tr>
                <td colspan="2" style="padding:10px; height: 1%; text-align: center;;">
                    <b>
                        Types
                    </b>
                </td>
                <tr colspan = "2" span style="background-color: white; height:10%; width:100%; border-radius: 12px; padding:2px; border-spacing: 4px;">
                    <td colspan = "2" style="border-radius: 12px; width:100%; height: 7%; text-align: center; font-size:85%; padding-top:5px; ">
                        <b style="text-transform: uppercase; background-color:{{firstcolour}}; text-transform: uppercase; font-size: 16px; border-radius: 12px;padding-top: 2px;padding-left: 5px;
                        padding-right: 5px; padding-bottom: 2px; margin-left: 20px; margin-right: 5px;">
                            <span style="color: #FFFF">
                            {{poketype}}
                            </span>
                        </b>

                            <b style="background-color: {{twotypecolour}}; text-transform: uppercase; font-size: 16px; border-radius:12px; margin-left: 20px; margin-right: 5px;">
                                <span style="color: #FFFF">
                                    {{poketypetwo}}
                                </span>
                            </b>
                        </div
                    </td>
                </tr>
                <td colspan="2" style="padding:10px; height: 1%; text-align: center;;">
                    <b>
                        Abilities
                    </b>
                </td>
                <tr colspan = "2" span style="background-color: white; height:10%; width:100%; border-radius: 12px; padding:2px; border-spacing: 4px;">
                    <td colspan = "2" style="border-radius: 12px; width:100%; height: 7%; text-align: center; font-size:85%; padding-top:5px; ">
                        <b style="text-transform: capitalize; font-size: 20px; border-radius: 12px;padding-top: 2px;padding-left: 5px;
                        padding-right: 5px; padding-bottom: 2px; margin-left: 20px; margin-right: 5px;">
                            {{abilityone}}
                        </b>
                        <b style="text-transform: capitalize; font-size: 20px; border-radius: 12px;padding-top: 2px;padding-left: 5px;
                        padding-right: 5px; padding-bottom: 2px; margin-left: 20px; margin-right: 5px;">
                           {{emptyskill}}
                        </b>
                    </td>
                </tr>
                <td colspan="2" style="padding:10px; height: 1%; text-align: center;;">
                    <b>
                        Strong against (2X)
                    </b>
                </td>
                <tr colspan = "2" span style="background-color: white; height:10%; width:100%; border-radius: 12px; padding:2px; border-spacing: 4px;">
                    <td colspan = "2" style="border-radius: 12px; width:100%; height: 7%; text-align: center; font-size:85%; padding-top:5px; ">
                        <b style="text-transform: capitalize; font-size: 20px; border-radius: 12px;padding-top: 2px;padding-left: 5px;
                        padding-right: 5px; padding-bottom: 2px; margin-left: 20px; margin-right: 5px;">
                            <img src="static/images/{{weakone}}.png" class="thirdtype" style="height:24px; width:24px;">
                            <img src="static/images/{{weaktwo}}.png" class="thirdtype"style="height:24px; width:24px;">
                            <img src="static/images/{{weakthird}}.png" class="thirdtype" style="height:24px; width:24px;">
                        </b>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
    <div class="weaknesses">
        <table>
        <th> Weaknesses</th>
        <td>{{pokeweak}}</td>
        <th>Does no damage to: {{pokeimmuneto}} </th>
        <th> Strengths </th>
        <th>Receives no damage from: {{pokeimmunefrom}}</th>
        <th>Super effective against: {{pokestrong}} </th>
        <th> Type: {{poketype}}</th>
        </table>
    </div>
</div>
<div class="evochain-flexbox" style="display:flex;">
    <div class="evos">
            <img src="{{spriteevoone}}">
            <b>{{firsttrigger}} {{firsttriggervalue}}</b>
            <img src="{{spriteevotwo}}">
            <b>{{secondtrigger}} {{secondtriggervalue}}</b>
            <img src="{{spriteevothree}}">
            <b>{{thirdtrigger}}</b><img src="{{spriteevofour}}">
            <b>{{noevolve}}</b>
            <b>
                <img src="{{twobranchspriteone}}">
                <b>{{twobranchtrigger}} {{twobranchtriggervalue}}</b>
                <img src="{{twobranchspritetwo}}">
            </b>
        </div>
    </div>
</div>

{% endblock %}
